@import "tailwindcss";

@theme {
  --color-primary: #11ABC1;
  --color-secondary: #DF3062;
  --color-accent: #F5B935;
  --color-success: #4BAC3F;
}

/* Apple Human Interface Guidelines: font, spacing, colori neutri, focus visibile */
body {
  @apply bg-neutral-100 text-black font-sans antialiased;
}

html,body{
  height:100%;
  min-height:100%; 
}

#root {
  height: 100%;
  width: 100%;
}